body{
  background-color: #C3785A;
}
header{
  text-align: center;
  font-size: 30px;
}
#buts {
  width: fit-content;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
}
#container {
  background-color: #59B56B;
  border-style: double;
  border-color: #8A6833;
  width: 500px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template: auto;
}
